body {
  font-face:Comic Sans MS;
  text-align:center;
}
ul.navbar {
  height:20%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:red;
}
li {
  float:left;
}
a {
  display:block;
  padding:10px;
  background-color:blue;
}
h1 [
  text-align:center:
  text-size:45px;
}
iframe {
  height:50%;
  width:50%;
}
